
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rowdies:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(4, 21, 95);
}
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
.titulo {
    color: white;
    font-size: 32px;
    font-family: 'Rowdies', cursive;
}
.subtitulo{
    color: white;
    font-size: 20px;
}
}
.tarjetas {
    display: flex;
    gap: 10px;
}
.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: rgb(17, 70, 138);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.tarjeta-de-mokepon img {
    width: 80px;
    height: 80px;
}  
input {
    display: none;
}
.boton-elemento {
    width: 200px;
    height: 40px;
    background-color: transparent;
    padding: 10px;
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-family: 'Rowdies', cursive;
}
